$mainFont: #0F1108;
$white: white;
$trapButtonbackground: #8ECACC;
$bodyBackground: #7D9A9E;
$grabZoneBG: rgba(0, 0, 0, 0.15);
$grabZoneDangerBG: rgba(0, 0, 0, 0.15);
$grabberArmWrapperBG: rgba(0, 0, 0, 0.15);